{% extends 'base.html' %}

{% block title %}
HomeProjects - renthus
{% endblock %}


{% block content %}

<h1>This is Project Details: {{ object.title }}</h1>
<p>{{ object }}</p>
<p>{{ object.description }}</p>
<img src="{{ object.thumb.url }}">

<h2>Topics</h2>
{% for topic in object.topic.all %}
<a href="{{ topic.video }}">
    <p>
        Topic {{ forloop.counter }}: {{ topic.title }}
    </p>
</a>
{% endfor %}
<div class="py-10">
    <h2>Related Projects</h2>
    {% for project in projects_relations %}
        <p>
            <a href="{% url 'project:detailsproject' project.pk %}">
                {{ project.title }}
            </a>
        </p>
    {% endfor %}
</div>

{% endblock %}