{% extends 'base.html' %}

{% block title %}
HomeProjects - renthus
{% endblock %}

{% block content %}
<div class="py-10">
    <h1>Essa é a nossa home projects!</h1>

    <div><br><br><br><br><br>        
        {% for project in object_list %}
        <hr>
        <a href="{% url 'project:detailsproject' project.pk %}"><p>{{ project.title }}</p></a>
        <p>{{ project.description }}</p>
        <img src="{{ project.thumb.url }}">
        {% endfor %}
    </div>
</div>

<div class="py-10">
    <h2>Recent Projects</h2>

    <div>
        {{ list_projects_recent }}
    </div>
</div>

<div class="py-10">
    <h2>Top Projects</h2>

    <div>
        {{ list_projects_top }}
    </div>
</div>


{% endblock %}